@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --darkblue: #020419;
  --poorwhite: #ffffff78;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--darkblue);
  color: var(--poorwhite);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-image: url("topSectionBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  scroll-behavior: smooth;
}

.video-section {
  position: relative;
  margin-bottom: -10px;
  scroll-snap-align: end;
}

.video-section video {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.video-section .button-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 60px;
}

.video-section .button-container button {
  color: white;
  background-image: url("playNowButtonBg.png");
}

.video-section .button-container .top-l-border {
  border-left: 3px solid #af9ea4;
  border-top: 3px solid #af9ea4;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
}

.video-section .button-container .bottom-l-border {
  border-left: 3px solid #270d57;
  border-bottom: 3px solid #270d57;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  bottom: 0;
}

.video-section .button-container .top-r-border {
  border-right: 3px solid #2f5b74;
  border-top: 3px solid #2f5b74;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
}

.video-section .button-container .bottom-r-border {
  border-right: 3px solid #173a56;
  border-bottom: 3px solid #173a56;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
}

.video-section button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 50px;
  font-weight: 600;
  background-color: darkgray;
  font-size: 2rem;
  color: var(--poorwhite);
  border: none;
  cursor: pointer;
}

footer {
  width: 100vw;
  background-color: #450751;
  padding-bottom: 30px;
  scroll-snap-align: end;
}

footer #socialMedia {
  background-color: #770f4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer #legalSection {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer #legalSection span {
  cursor: pointer;
  font-weight: 600;
  color: white;
}

footer .copyright {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  width: 60%;
  text-align: center;
}

#topSection {
  height: 100dvh;
  position: relative;
  scroll-snap-align: start;
}

#topSection h1 {
  font-size: 96px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

#topSection .content {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#topSection #platformsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10%;
}

#topSection .arrow-container {
  display: grid;
  place-content: center;
  opacity: 0.4;
}

#forestSection {
  background-color: #020419;
  padding-bottom: 40px;
  padding-top: 40px;
  scroll-snap-align: start;
}

#forestSection h2 {
  background-clip: text;
  color: transparent;
  background-image: url("topSectionBg.jpg");
  background-position: center;
  text-align: center;
  font-size: 82px;
  font-weight: 700
}

#forestSection article {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

/* Delete comment */

#forestSection article img {
  height: 300px;
}

#forestSection article p {
  margin-bottom: 0px;
  font-size: 24px;
max-width: 700px;
}
